@import '../../style/palette.scss';
@import '../../style/variables.scss';
// @import '../../../node_modules/bootstrap-vue/dist/bootstrap-vue.min.css';

.home {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: $alt-text-color;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
  overflow: auto;
  padding-left: 5%;
  padding-right: 5%;
  background: linear-gradient(to top,#1976d2,$primary-color);

  .divider {
    width: 25%;
    height: 2px;
    background-color: $background-color-dark;
    margin-top: $box-space-16;
    margin-bottom: $box-space-24;
  }

  .container {
    max-width: 1232px;
    width: 100%;
    display: flex;
    font-size: 1rem;
    background: $background-color;
    color: $primary-text-color;
    margin-bottom: $box-space-32;
    border-radius: 4px;
    padding-left: 0;
    padding-right: 0;
    .icon {
      width: $box-space-64;
      height: $box-space-64;
      background-size: cover;
    }
    .content {
      display: flex;
      width: 100%;
      padding-left: 10%;
      padding-right: 10%;
      padding: $box-space-64 10% $box-space-64 10% ;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .transition-group {
        width: 100%;
      }
      .container-blocks {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $box-space-32;
        margin-top: $box-space-32;
        @media only screen and (max-width: 785px) {
          flex-direction: column;
        }
      }

      .block {
        width: calc(100% / 3);
        display: flex;
        padding: $box-space-24;
        min-height: 150px;
        color: $alt-text-color;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        @media only screen and (max-width: 785px) {
            width: 100%;
        }


        span {
          font-weight: 600;
          margin-bottom: $box-space-8;
        }

        &-raised {
          background: $primary-color;
          border-radius: 4px 0px 0px 4px;
          .icon {
            background-image: url('assets/icon_coins.gif');
          }
        }

        &-balance {
          background: $primary-color-dark;
          .icon {
            background-image: url('assets/icon_coins.gif');
          }
        }

        &-totalSupply {
          background: $primary-color-darker;
          border-radius: 0px 4px 4px 0px;
          .icon {
            background-image: url('assets/icon_coins.gif');
          }
        }
      }

      &__address {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__caps {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: $box-space-32;
        @media only screen and (max-width: 785px) {
          flex-direction: column;
        }
        &-block {
          min-height: 150px;
          width: calc(100% / 3);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          color: $alt-text-color;
          padding: $box-space-16;
          @media only screen and (max-width: 785px) {
            width: 100%;
          }
          span {
            font-weight: 400;
            font-size: 1.6rem;
          }
          &.soft {
            background: lighten(#F47B2E, 10%);
            border-radius: 4px 0px 0px 4px;
            .icon {
              background-image: url('assets/icon_bullseye.gif');
            }
          }
          &.mid {
            background: #F47B2E;
            border-radius: 0px 4px 4px 0px;
            .icon {
              background-image: url('assets/icon_bullseye.gif');
            }
          }
        }
      }
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
