@import '../../style/palette.scss';
@import '../../style/variables.scss';

.container-progress {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  .progress {
    width: 100%;
    border-radius: 50px;
    .progress-bar.blue{
      background: #F47B2E;
    }
    .progress-bar.yellow{
      background: lighten(#F47B2E, 10%);
    }
    .progress-bar.red{
      background-color: $danger-primary-color;
    }
  }

  .caps {
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    color: $alt-text-color;
    &__soft {
      width: 23%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__mid {
      width: 41%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__infinity {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-between;
    }
  }
}
