<div class="container-progress">

  <b-progress height="50px" class="mt-1" :max="max">
    <b-progress-bar v-show="ethRaised > softCap" :value="softCap" class="yellow" animated></b-progress-bar>
    <b-progress-bar v-show="ethRaised > midCap" :value="midCap" class="blue" animated></b-progress-bar>
    <b-progress-bar :value="ethRaisedWoMid" animated></b-progress-bar>
  </b-progress>

  <div class="caps">
    <div class="caps__soft">{{softCap}} eth</div>
    <div class="caps__mid">{{midCap}} eth</div>
    <div class="caps__infinity">
      <span>+ {{ ethRaisedWoMid }} eth</span>
    </div>
  </div>

</div>
