{
    "extends": ["eslint:recommended", "google"],
    "env": {
        "es6": false,
        "node": false
    },
    "globals": {
        "angular": true
    },
    "rules": {
        "indent": [2, 4, {"SwitchCase": 1}],
        "quotes": [2, "single"],
        "no-underscore-dangle": 2,
        "spaced-line-comment": 0,
        "max-len": [2, 128],
        "no-negated-condition": 0,
        "new-cap": 0,
        "no-undef": 0,
        "no-unused-vars": 0,
        "handle-callback-err": 0,
        "max-nested-callbacks": 0,
        "no-multi-str": 0,
        "camelcase": 0,
        "comma-dangle": [2, "never"],
        "no-var": 0,
        "nor-reserved-keys": 0,
        "no-invalid-this": 0,
        "require-jsdoc": [ 1 ],
        "valid-jsdoc": [ 2 ]
    }
}
