// node-sass compatibility later
@import "../../node_modules/bourbon/core/_bourbon.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import './variable.scss';
@import './fonts.scss';
@import './palette.scss';

@import '../components/home/home.scss';


html {
  height: 100vh;
  min-height: 100vh;
}

body {
  height: 100vh;
  min-height: 100vh;
  font-family: 'Stacktical', sans-serif;
  font-weight: 200;
  color: $primary-text-color;
}


.application {
  height: 100vh;
  min-height: 100vh;
  main {
    height: 100vh;
    min-height: 100vh;
  }
}
