$primary-color-darker:                      #145CA4;
$primary-color-dark:                        #1976D2;
$primary-color:                             #2196F3;
$primary-color-light:                       #BBDEFB;
$accent-color:                              #8BC34A;
$accent-color-light:                        #A4D070;
$primary-text-color:                        #555;
$secondary-text-color:                      #777;
$alt-text-color:                            #FFFFFF;
$divider-color:                             #B6B6B6;
$cta-color:                                 #ffb347;

$background-color:                          #fafafa;
$background-color-light:                    #fff;
$background-color-dark:                     #eaeaea;

$stacktical-transparent-white:              rgba(255,255,255,.5);
$stacktical-semi-transparent-white:         rgba(255,255,255,.1);

// Info
$info-primary-color-dark:                   #0288D1;
$info-primary-color:                        #03A9F4;
$info-primary-color-light:                  #B3E5FC;

// Success
$success-primary-color-dark:                #689F38;
$success-primary-color:                     #8BC34A;
$success-primary-color-light:               #DCEDC8;

// Warning
$warning-primary-color-dark:                #e5ce00;
$warning-primary-color:                     #FFEB3B;
$warning-primary-color-light:               #FFF9C4;

// Danger
$danger-primary-color-dark:                 #D32F2F;
$danger-primary-color:                      #F44336;
$danger-primary-color-light:                #FFCDD2;
