@import "../../node_modules/bourbon/core/_bourbon.scss";
@import './_normalize.scss';
@import './fonts.scss';
@import './palette.scss';


html {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  font-family: 'Stacktical Sans Light', sans-serif;
}
