<div class="home">
  <h1>Token Sales Status</h1>

  <div class="container">
    <div class="content">
      <div class="content__address">
        <p>Token address: {{ tokenAddress }}</p>
        <p>ICO address: {{ icoAddress }}</p>
      </div>
      <div class="divider"></div>
      <transition-group class="transition-group" name="fade" mode="out-in">
        <Spinner v-bind:key="1" v-show="loading"></Spinner>
        <div v-bind:key="2" v-show="!loading" class="container-blocks">
          <div class="block block-raised">
            <div class="icon"></div>
            <span>ETH Raised</span>
            <p>{{ raised }} ETH</p>
          </div>
          <div class="block block-balance">
            <div class="icon"></div>
            <span>DSLA Sold</span>
            <p>{{ sold }} DSLA</p>
          </div>
          <div class="block block-totalSupply">
            <div class="icon"></div>
            <span>Total supply</span>
            <p>{{ totalSupply }} DSLA</p>
          </div>
        </div>
        <ProgressBar
          v-bind:key="3"
          v-show="!loading"
          :totalRaised="totalRaised"
          :softCap="softCap"
          :hardCap="hardCap"
          :currentRound="currentRound"
          :priCap="priCap"
          :preCap="preCap"
        ></ProgressBar>
      </transition-group>

      <div class="content__caps">
        <div class="content__caps-block soft">
          <div class="icon"></div>
          <span>{{ softCap }} ETH</span>
          Soft cap
        </div>
        <div class="content__caps-block mid">
          <div class="icon"></div>
          <span>{{ hardCap }} ETH</span>
          Hard cap
        </div>
      </div>
    </div>
  </div>

  <Footer></Footer>

</div>
