@import '../../style/palette.scss';
@import '../../style/variables.scss';

.container-progress {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  .progress {
    width: 100%;
    .progress-bar.blue{
      background-color: $success-primary-color;
    }
    .progress-bar.yellow{
      background-color: $warning-primary-color;
    }
    .progress-bar.red{
      background-color: $danger-primary-color;
    }
  }
}
