<div class="container-progress">


  <div class="container-blocks">
    <div class="block block-raised">
      <span>ETH Raised</span>
        {{ ethRaised }} ETH
    </div>
    <div class="block block-balance">
      <span>ETH Balance</span>
       {{ ethBalance }} ETH
    </div>
    <div class="block block-totalSupply">
      <span>Total token supply</span>
        {{ totalSupply }}
    </div>
  </div>

  <b-progress height="40px" class="mt-1" :max="max">
    <b-progress-bar v-if="ethRaised > softCap" :value="softCap" class="yellow" :striped="striped"></b-progress-bar>
    <b-progress-bar v-if="ethRaised > midCap" :value="midCap" class="blue" ></b-progress-bar>
    <b-progress-bar :value="ethRaised - midCap" animated></b-progress-bar>
  </b-progress>

  <div class="caps">
    <div class="caps__soft">{{softCap}}</div>
    <div class="caps__mid">{{midCap}}</div>
    <div class="caps__infinity">
      <span>+ {{ ethRaisedWoMid }}</span>
      <span>Inifinity</span>
    </div>
  </div>

</div>
