<div class="footer">
  <div class="footer-social">
    <div class="footer-social__block github">
      <img src="@/components/common/footer/assets/github-logo.png" alt="">
      <p>Github</p>
    </div>
    <div class="footer-social__block telegram">
      <img src="@/components/common/footer/assets/telegram-logo.png" alt="">
      <p>Telegram</p>
    </div>
  </div>
  <div class="footer-stacktical">
    <h1>Stacktical is <span>hiring</span></h1>
    <p>We are looking for <span>Smart Contract Developers</span> and <span>DevOps</span></p>
  </div>

</div>
